rules_version = '2';
service cloud.firestore {
  match /databases/{db}/documents {
    function isRole(r) { 
      return request.auth.token.role == r; 
    }

    match /users/{uid} {
      allow read, update: if request.auth.uid == uid || isRole('Admin');
      allow create: if isRole('Admin'); // Or allow on signup
    }

    match /tasks/{tid} {
      allow create: if isRole('Admin') || isRole('Manager');
      
      allow read:   if isRole('Admin') 
                    || isRole('Manager')
                    || (resource.data.assignedDesignerUid != null && resource.data.assignedDesignerUid == request.auth.uid)
                    || (resource.data.assignedReviewerUid != null && resource.data.assignedReviewerUid == request.auth.uid);
                    
      allow update: if isRole('Admin')
                    || (isRole('Designer') && resource.data.assignedDesignerUid == request.auth.uid)
                    || (isRole('Reviewer') && resource.data.assignedReviewerUid == request.auth.uid);

      allow delete: if isRole('Admin');
    }

    match /accounts/{id} {
      allow read:  if isRole('Admin') || isRole('Manager');
      allow write: if isRole('Admin');
    }
  }
}
